
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    border: 0;
    padding: 0;
}





:root{

    --color-primario:#c599b6;
    --color-secundario:#000000;
    --color-terciario:#fad0c4;
    --fuente-Montserrat:"Montserrat", serif;
    --fuente-Krona: "Krona One", serif;
    --color-hover: #F2F6D0;ot
    --color-destaque: rgb(255, 159, 175);
}


body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
    /* height: 100vh; */
}


.resaltado:hover{

    color: var(--color-hover);

}


.container-presentacion{
    display: flex;
    align-items: center;
    /*margin: 5%;*/
    padding: 5% 10%;
    justify-content: space-between;

}

.presentacion-contenido{
    width: 510px; /*es el ancho de ese elemento*/ 
    display: flex;
    flex-direction: column;
    gap:40px;
}




.presentacion-contenido-titulo{
    font-size: 2.25rem;
    font-family:var(--fuente-Krona);


}


.titulo-Destacado{
    color: var(--color-destaque);

}

.presentacion-contenido-texto{
    font-size: 1.5rem;
    font-family:var(--fuente-Montserrat);
}


.Presentacion__enlaces_subtitulo{
    font-family:var(--fuente-Krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlaces{ /* clase */
    display: flex; /* permite usar el flexbox*/
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;


}

.presentacion__enlaces_link{
    
    width: 378px;
    text-align: center;
    border: 3px solid;
    border-color: var(--color-terciario);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    font-family: var(--fuente-Montserrat);
    color: var(--color-secundario);
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.presentacion__enlaces_link:hover{
    background-color: var(--color-hover);
}


.Footer{
    color: var(--color-primario);
    background-color: var(--color-terciario);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-Montserrat);
    font-size: 1.5rem;
    font-weight: 400;

}

.Header{
    padding-top: 2%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 8%;

}

.Header__menu {
    display: flex;
    /*justify-content: center;*/
   align-items: center;
   gap: 80px;
}

.Header__menu_link {

    font-family: var(--fuente-Montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
}

.Header__menu_link:hover {
    color: var(--color-hover);
}